<h2>Book List</h2>
<a href="/create">Add Book</a> | <a href="/logout">Logout</a>

<form method="GET" action="/">
  <input
    type="text"
    name="keyword"
    placeholder="Search by ID / title / author / genre"
    value="<%= typeof keyword !== 'undefined' ? keyword : '' %>">
  <button type="submit">Search</button>
  <a href="/">Clear</a>
</form>

<ul>
  <% books.forEach(b => { %>
    <li>
      <% if (b.bookId) { %>
        [<%= b.bookId %>]
      <% } %>
      <strong><%= b.title %></strong>
      <% if (b.author) { %> by <%= b.author %><% } %>
      <% if (b.content) { %><br><em><%= b.content %></em><% } %>
      <br>
      <a href="/edit/<%= b._id %>">Edit</a>
      <a href="/delete/<%= b._id %>">Delete</a>
    </li>
  <% }) %>
</ul>

